<div class="search">
	<%= render 'layouts/search' %>
</div>

<div class="list-header">
<h1> All these shoes will fit you </h1>
</div>



<div class="grid">

	<% @potential_closet.each do |p|%> 
		<div class="col-shoe col-sm-6 col-md-4">
			<div class="product-image">
				<a href = "<%= p["product_url"] %>"> <img src = "<%= p["img_url"]%>"> </a> <br>
				<div class="inline">
					<div>
			 			<h4><%=p["brand_name"]%></h4>
			 			<h4><%=p["product_name"]%></h4>
			 			<h5>size <%=p["size"]%></h5>
			 		</div>	
		 		</div>
			</div>
		</div>	 	
	<%end%>

</div>