<div class="search">
	<%= render 'layouts/search' %>
</div>

<div class="list-header">
<h1>My Closet</h1>
<h4>psst... the more you add the more you'll discover!<h4>
</div>

<div class="row">

<% @my_closet.each do |p|%> 
	<div class="col-shoe col-sm-6 col-md-4">
			<div>
				<a href = "<%= p["product_url"] %>"> <img src = "<%= p["img_url"]%>"> </a> <br>
				<div class="inline">
					<div>
			 			<h4><%=p["brand_name"]%></h4>
			 			<h4><%=p["product_name"]%></h4>
			 			<h5>size <%=p["size"]%></h5>
			 		</div>
			 		<div>
			 			<%= form_for p, url: delete_shoe_path(@user.id, p.id), method: :delete do |f| %>
		 				<!-- :product, :brand_id ect match the parameters of my model -->
		 				<%= f.hidden_field :product, value: p["productId"] %>
		 				<%= f.hidden_field :brand_id, value: p["brandId"] %>
		 				<%= f.hidden_field :brand_name, value: p["brandName"] %>
		 				<%= f.hidden_field :product_name, value: p["productName"] %>
		 				<%= f.hidden_field :size, value: p["size"] %>
		 				<%= f.hidden_field :product_url, value: p["productUrl"] %>
		 				<%= f.hidden_field :img_url, value: p["thumbnailImageUrl"] %>
		 				
		 			<%= f.submit "delete this shoe", class: "btn btn-default" %>
		 			<%end%>
		 		</div>

		 		</div>
		 				
			</div>
	</div>	 	
<%end%>

</div>

