<div class="search">
	<%= render 'layouts/search' %>
</div>

<% @display.each do |p|%> 
<div class="row">
  <div class="col-shoe col-sm-6 col-md-4">
		<div>
			<a href = "<%= p["productUrl"] %>"> <img src = "<%= p["thumbnailImageUrl"]%>"> </a> <br>
			<div class="inline">
				<div>
		 			<h3><%=p["brandName"]%></h3>
		 			<h4><%=p["productName"]%></h4>
		 			<h4>US size: <%=p["size"]%></h4>
		 		</div>
		 		<div>
		 			<%= form_for @shoe,  method: :post do |f| %>
		 				<!-- :product, :brand_id ect match the parameters of my model -->
		 				<%= f.hidden_field :product, value: p["productId"] %>
		 				<%= f.hidden_field :brand_id, value: p["brandId"] %>
		 				<%= f.hidden_field :brand_name, value: p["brandName"] %>
		 				<%= f.hidden_field :product_name, value: p["productName"] %>
		 				<%= f.hidden_field :size, value: p["size"] %>
		 				<%= f.hidden_field :product_url, value: p["productUrl"] %>
		 				<%= f.hidden_field :img_url, value: p["thumbnailImageUrl"] %>
		 			<%= f.submit "these are my shoes", class: "btn btn-default" %>
		 			<%end%>
 					<!-- <p><a href="#" class="btn btn-primary" role="button">I own these shoes</a> -->
 				</div>
			</div>
   </div>
</div>
<%end%>



