
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class= "container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href=<%new_session_path %>>Cinderella</a>
    </div>
    <div class="form-group">
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><%= link_to "Add to closet", search_path %></li>
            <li><%= link_to "Matching Shoes", match_path %></li>
            <li><%= link_to "My closet", current_user %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
           <div class="form-group">
            <%= form_for(:session, url: sessions_path) do |f| %>
              <%= f.text_field :email,:placeholder => "email"%> 
              <%= f.password_field :password, :placeholder => "password" %>
            <%= f.submit "Sign in", class: "btn btn-small btn-success" %>
          </div>
          </ul>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
</div>
