<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="add-shoes">Add the more shoes to my closet...</div>
		</div>
		<div class="col-md-8">
		  <div class="navbar-form navbar-right" role="search">
		  	<div class="form-group">
			    <%= form_for(:shoes, url: get_results_path) do |s| %>
				
				<div class="form-group">
			      <%= s.text_field :brand_name, :class => "form-control", :placeholder => "adidas"%>
			      	</div>
			      <div class="form-group">
			      <%= s.text_field :product_name, :class => "form-control", :placeholder => "boost" %>
			      	</div>
			      <div class="form-group">
			      <%= s.text_field :size, :class => "form-control", :placeholder => "US size \"9.5\"" %>
			  		</div>

			      <%= s.submit "Add Shoes", :class => "btn btn-default" %>
			    <% end %> 
			</div>
	    </div>
	</div>
</div>   
<!-- </div>
		<form class="navbar-form navbar-right" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="brand name">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="product name">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="shoe size">
	  </div>
	  <button type="submit" class="btn btn-default">Find Shoes!</button>
	</form>
</div> -->